# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Test / coverage
.coverage
coverage.xml
htmlcov/
.benchmarks/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Environment
.venv/
venv/

# Tooling
.mise.toml
